.form {
  width: 50rem;
  height: 50rem;
  position: relative;
  top: 5rem;
 
}
.center-btn {
  position: relative;
  left: 20rem;
  top: 18px;
}
.form-center {
  position: relative;
  top: 43px;
}
.change-range{
    width: 40rem;
}
.margin-left-label{
    margin-left: 8rem;
}
.range-number {
    position: relative;
    display: flex;
    margin: 0;
}
.total-range{
    position: relative;
    left: 36rem;
}
.error{
  color: red;
}