
.vector-img {
  width: 101px;
  height: 17px;
  margin: 35px;
  position: relative;
  right: 8rem;
  /* margin-left: 8rem; */
}
.section-p {
  margin-top: 20px;
  color: #4a556c;
  
}
.large-heding {
  font-weight: bold;
  color: #333461;
font-size: 80px
}
.content {
 position: relative;
 right: 100px;
}
.paragraph {
  color: gray;
}
.section-img {
  margin-top: -34rem;
  margin-left: 56rem;
  position: relative;
}
/* .girls-img {
  /* margin-left: 220px;
  margin-top: -10rem; 
} */
.over-img1 {
  position: absolute;
  top: 140px;
  left: 200px;
  z-index: -1;
}
.over-img2 {
  position: absolute;
  top: 0;
  z-index: 1;
}
/* .goal-img {
  margin-top: 10rem;
} */
